//*<Standard font>===========================================================================================

$fontfamily: Roboto;
$fontfamily--titles: RobotoCondensed;

//*</Standard font>==========================================================================================

$maxWidthContainer: 1158px;

//*<Colors>=================================================================================================

$color__font: #525252;
$color__font--titles: #1F1F1F;
$color__main: #3F64AE;

//*</Colors>=================================================================================================
