<header class="site-header">
    <div class="container">
        <div class="site-header__body">
            <div class="site-header__logo">
                <img src="@img/logo.svg" alt="Logo" title="Logo">
            </div>
            <div class="site-header__panel">
                <nav class="site-header__menu menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a data-anchor href="#services" class="menu__link">Dienstleistungen</a>
                        </li>
                        <li class="menu__item">
                            <a data-anchor href="#video" class="menu__link">Imagefilm</a>
                        </li>
                        <li class="menu__item">
                            <a data-anchor href="#advantages" class="menu__link">Vorteile</a>
                        </li>
                        <li class="menu__item">
                            <a data-anchor href="#team" class="menu__link">ein Team werden</a>
                        </li>
                        <li class="menu__item">
                            <a data-anchor href="#advertisments" class="menu__link">Unternehmensbild</a>
                        </li>
                    </ul>
                </nav>
                <ul class="site-header__socials">
                    <li class="site-header__social">
                        <a target="_blank" href="#" class="site-header__social-link">
                            <img src="@img/icons/socials/instagram.svg" alt="Instagram" title="Instagram">
                        </a>
                    </li>
                    <li class="site-header__social">
                        <a target="_blank" href="#" class="site-header__social-link">
                            <img src="@img/icons/socials/facebook.svg" alt="Facebook" title="Facebook">
                        </a>
                    </li>
                    <li class="site-header__social">
                        <a target="_blank" href="#" class="site-header__social-link">
                            <img src="@img/icons/socials/whatsapp-blue.svg" alt="Whatsapp" title="Whatsapp">
                        </a>
                    </li>
                    <li class="site-header__social">
                        <a target="_blank" href="#" class="site-header__social-link">
                            <img src="@img/icons/socials/telegram-blue.svg" alt="Telegram" title="Telegram">
                        </a>
                    </li>
                </ul>
                <a href="tel:+490421427690" class="site-header__phone">+49 (0) 421 - 42 769 0</a>
                <button type="button" class="site-header__btn btn btn--light-blue">Beratung</button>
            </div>
            <div class="burger">
                <span class="burger__line"></span>
                <span class="burger__line"></span>
                <span class="burger__line"></span>
            </div>
        </div>
    </div>
</header>